<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>New World - HTML/CSSテンプレート</title>
	<meta name="description" content="カラフルだけど落ち着きのあるデザインのHTML/CSSテンプレート。WordPressテーマのカスタマイズや他CMSへの利用時に使ってください。">
	<meta name="keywords" content="HTML テンプレート,CSS テンプレート,webサイト テンプレート, webデザイン テンプレート, ホームページ テンプレート">

<!-- External files -->
	<link rel="stylesheet" href="style.css">

<!-- Favicon, Thumbnail image -->
	<link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>
	<div id="page">
		<div id="wrapper">

<!-- Header -->		
			<div id="header">
				<a href="/" class="blog_title">New World - HTML/CSSテンプレート</a>
				<p>カラフルな背景とモノクロのデザインを融合。お好みでカスタマイズしてみてください。</p>
				<ul id="nav">
					<li class="current_page_item"><a href="/">ホーム</a></li>
					<li>
						<a href="#">このブログについて</a>
						<ul>
							<li><a href="#">サブメニュー 1-A</a>
								<ul>
									<li><a href="#">サブメニュー 2-A</a></li>
									<li><a href="#">サブメニュー 2-B</a></li>
								</ul>
							</li>
							<li><a href="#">サブメニュー 1-B</a></li>
							<li><a href="#">サブメニュー 1-C</a></li>
							<li><a href="#">サブメニュー 1-D</a></li>
							<li><a href="#">サブメニュー 1-E</a></li>
						</ul>
					</li>
					<li><a href="#">中の人について</a></li>
					<li><a href="#">お問い合わせ</a></li>
				</ul><!-- /#nav -->
			</div><!-- /#header -->
			
<!-- Contents -->			
			<div id="contents">
				<div id="main">
					<div class="post">
						<h1 class="title">ここにブログ記事のタイトルが入ります。長くなっても大丈夫。</h1>
						<div class="blog_info">
							<ul>
								<li class="cal">2010年9月28日</li>
								<li class="cat"><a href="#">カテゴリーA</a>, <a href="#">カテゴリーB</a></li>
								<li class="tag"><a href="#">タグ1</a>, <a href="#">その他タグ</a></li>
							</ul>
							<br class="clear" />
						</div>
						
						<img class="attachment-post-thumbnail" src="images/ph_thumb.jpg" alt="サムネイル画像" width="220" height="165">
						<p>
							記事の概要文が表示されます。Moreタグから上の部分ですね。大まかな内容を書いて
							ユーザーの関心をひいちゃいましょう。記事の概要文が表示されます。Moreタグから上の部分ですね。
							大まかな内容を書いてユーザーの関心をひいちゃいましょう。記事の概要文が表示されます。
							Moreタグから上の部分ですね。大まかな内容を書いてユーザーの関心をひいちゃいましょう。
						</p>
						
						<p>
							ここから本文です。本文の各要素のスタイルは以下のとおり。
						</p>
						
						<h2>h2タグ。記事内の大見出し</h2>
						<p>
							h2直下のPタグ。ここに本文が入ります。マージンはこのくらいで。
							h2直下のPタグ。ここに本文が入ります。マージンはこのくらいで。
						</p>
						
						<h3>h3タグ。中見出し。</h3>
						<p>
							h3直下のPタグ。ここに本文が入ります。マージンはこのくらいで。
							本文内にリンクを入れると<a href="#">このように</a>表示。
						</p>
						
						<h4>h4タグ。ちょっとした見出し？</h4>
						<p>
							h4直下のPタグ。ここに本文が入ります。マージンはこのくらいで。
							本文内に strong をいれると<strong>このように</strong>表示。
						</p>
						
						<h5>h5タグ。あまり使わないかもしれないh5</h5>
						<p>
							h5直下のPタグ。ここに本文が入ります。マージンはこのくらいで。
							本文内のフォントスタイルをイタリックにする<em>とこのように</em>表示
						</p>
						
						<h6>h6タグ。ほとんど使わないかもしれないh6</h6>
						<p>
							h6直下のPタグ。ここに本文が入ります。マージンはこのくらいで。
							記事内にコードを入力すると <code>font-size:12px;</code> ←このように表示。
						</p>
						
						<p>画像は以下のようにボーダーで囲まれています。</p>
						<img src="images/ph_img1.jpg" alt="ph_img1" width="560" height="386" />
						
						<ul>
							<li>ULタグ。リストを表示</li>
							<li>このようにスタイルされています</li>
							<li>
								リスト内の文章が長くなったらこのように表示されます。箇条書きなので
								あまりながい文章は避けたほうがいいかもしれませんが、念のため…。
							</li>
						</ul>
						<ol>
							<li>OLタグ。数字付きリストの表示</li>
							<li>このようにスタイルされています</li>
							<li>
								リスト内の文章が長くなったらこのように表示されます。箇条書きなので
								あまりながい文章は避けたほうがいいかもしれませんが、念のため…。
							</li>
						</ol>
						
						<blockquote>
							引用文のスタイル。他サイトなどから文章を引用する時はblockquoteをつかって
							引用文を表示させます。
							引用文のスタイル。他サイトなどから文章を引用する時はblockquoteをつかって
							引用文を表示させます。
						</blockquote>
						
						<div class="wp-caption">
							<img src="images/ph_img2.jpg" alt="ph_img2" width="560" height="361" />
							<p>画像にキャプションを付けるとこのように表示。ちなみにこれはシドニーのショッピングモール。</p>
						</div>
						
						<p>画像直下の本文。最後のしめくくりはこのように表示されます。</p>
					</div><!-- /.post -->
					
					
					<div class="nav-below">
						<span class="nav-previous"><a href="#">古い記事へ</a></span>
						<span class="nav-next"><a href="#">新しい記事へ</a></span>
					</div><!-- /.nav-below -->
					
<!-- Commetns -->					

					<h3 id="comments">&#8220;ここにブログ記事のタイトルが入ります。長くなっても大丈夫。&#8221; への2件のコメント</h3>
					<div class="navigation">
						<div class="alignleft"><a href="#">古いコメント</a></div>
						<div class="alignright"><a href="#">新しいコメント</a></div>
					</div>
				
					<div class="navigation">
						<div class="alignleft"></div>
						<div class="alignright"></div>
					</div>

					<ol class="commentlist">
						<li>
							<div class="comment-body">
								<div class="comment-author">
									<img height="32" width="32" class="avatar" src="images/avatar.gif" alt="">
									<cite><a rel="external nofollow" href="http://wordpress.org/">Mr WordPress</a></cite>
									<span class="says">より:</span>
								</div><!-- /.comment-author -->
						
								<div class="comment-meta">
									<a href="#">2010年11月9日 1:42 AM</a>
								</div><!-- /.comment-meta -->
				
								<p>
									こんにちは。これはコメント例です。<br>コメントを削除するには、ログインして
									その投稿のコメントを表示させてください。そこでコメントを編集したり削除したりすることができます。
								</p>
			
								<div class="reply">
									<a href="#">返信</a>	
								</div><!-- /.reply -->
							</div><!-- /.comment-body -->
								
							<ul class="children">
								<li>
									<div class="comment-body">
										<div class="comment-author">
											<img height="32" width="32" class="avatar" src="images/avatar.gif" alt="">
											<cite><a rel="external nofollow" href="http://wordpress.org/">Mr WordPress</a></cite>
											<span class="says">より:</span>
										</div><!-- /.comment-author -->
								
										<div class="comment-meta">
											<a href="#">2010年11月9日 1:42 AM</a>
										</div><!-- /.comment-meta -->
						
										<p>
											こんにちは。これはコメント例です。<br>コメントを削除するには、ログインして
											その投稿のコメントを表示させてください。そこでコメントを編集したり削除したりすることができます。
										</p>
					
										<div class="reply">
											<a href="#">返信</a>	
										</div><!-- /.reply -->
									</div><!-- /.comment-body -->
					
										<ul class="children">
											<li>
												<div class="comment-body">
													<div class="comment-author">
														<img height="32" width="32" class="avatar" src="images/avatar.gif" alt="">
														<cite><a rel="external nofollow" href="http://wordpress.org/">Mr WordPress</a></cite>
														<span class="says">より:</span>
													</div><!-- /.comment-author -->
											
													<div class="comment-meta">
														<a href="#">2010年11月9日 1:42 AM</a>
													</div><!-- /.comment-meta -->
									
													<p>
														こんにちは。これはコメント例です。<br>コメントを削除するには、ログインして
														その投稿のコメントを表示させてください。そこでコメントを編集したり削除したりすることができます。
													</p>
								
													<div class="reply">
														<a href="#">返信</a>	
													</div><!-- /.reply -->
												</div><!-- /.comment-body -->
													
													<ul class="children">
														<li>
															<div class="comment-body">
																<div class="comment-author">
																	<img height="32" width="32" class="avatar" src="images/avatar.gif" alt="">
																	<cite><a rel="external nofollow" href="http://wordpress.org/">Mr WordPress</a></cite>
																	<span class="says">より:</span>
																</div><!-- /.comment-author -->
														
																<div class="comment-meta">
																	<a href="#">2010年11月9日 1:42 AM</a>
																</div><!-- /.comment-meta -->
												
																<p>
																	こんにちは。これはコメント例です。<br>コメントを削除するには、ログインして
																	その投稿のコメントを表示させてください。そこでコメントを編集したり削除したりすることができます。
																</p>
											
																<div class="reply">
																	<a href="#">返信</a>	
																</div><!-- /.reply -->
															</div><!-- /.comment-body -->
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
					
								<li>
									<div class="comment-body">
										<div class="comment-author">
											<img height="32" width="32" class="avatar" src="images/avatar.gif" alt="">
											<cite><a rel="external nofollow" href="http://wordpress.org/">Mr WordPress</a></cite>
											<span class="says">より:</span>
										</div><!-- /.comment-author -->
								
										<div class="comment-meta">
											<a href="#">2010年11月9日 1:42 AM</a>
										</div><!-- /.comment-meta -->
						
										<p>
											あんまり誰かを崇拝するということは、自分の自由を失うことなんだ
										</p>
					
										<div class="reply">
											<a href="#">返信</a>	
										</div><!-- /.reply -->
									</div><!-- /.comment-body -->
								</li>
							</ol>
	

					<div class="navigation">
						<div class="alignleft"><a href="#">古いコメント</a></div>
						<div class="alignright"><a href="#">新しいコメント</a></div>
					</div>
 

<!-- Comment Form -->
					<div id="respond">
						<h3>コメントをどうぞ</h3>
					
						<form id="commentform" action="#" method="post">
						
							<p>
								<input type="text" name="author" id="author" size="22" tabindex="1" />
								<label for="author"><small>名前  (必須) </small></label>
							</p>
						
							<p>
								<input type="text" name="email" id="email" size="22" tabindex="2" />
								<label for="email"><small>メールアドレス (非公開)  (必須) </small></label>
							</p>
						
							<p>
								<input type="text" name="url" id="url" size="22" tabindex="3" />
								<label for="url"><small>ウェブサイト</small></label>
							</p>
						
							<p><textarea name="comment" id="comment" cols="58" rows="10" tabindex="4"></textarea></p>
						
							<p><input name="submit" type="submit" id="submit" tabindex="5" value="コメントを送信" /></p>
						
						</form>
					
					</div><!-- /#respond -->

					
				</div><!-- /#main -->
				
				
<!-- Side -->				
				<div id="side">
					<div class="widget-area">
						<ul>
							<li class="widget-container">
								<h3>ページ</h3>
								<ul>
									<li><a href="#">このブログについて</a></li>
									<li><a href="#">中の人について</a></li>
									<li><a href="#">お問い合わせ</a></li>
								</ul>
							</li><!-- /.widget-container -->
							
							<li class="widget-container">
								<h3>最近のコメント</h3>
								<ul>
									<li><a href="#">Hello world!</a> From admin</li>
									<li><a href="#">Web Designing 7月号の内容</a> From Mana</li>
									<li><a href="#">Hello world!</a> From admin</li>
									<li><a href="#">Web Designing 7月号の内容</a> From Mana</li>
									<li><a href="#">Hello world!</a> From admin</li>
								</ul>
							</li><!-- /.widget-container -->
				
							<li class="widget-container">
								<h3>検索</h3>
								<form action="#" id="searchform" method="get">
									<div>
										<input type="text" id="s" name="s" size="25" value="">
										<input type="submit" value="検索" id="searchsubmit">
									</div>
								</form>
							</li><!-- /.widget-container -->
				
							<li class="widget-container">
								<h3>カレンダー</h3>
								<div id="calendar_wrap">
									<table summary="カレンダー" id="wp-calendar">
										<caption>2010年10月</caption>
										<thead>
										<tr>
											<th title="月曜日" scope="col">月</th>
											<th title="火曜日" scope="col">火</th>
											<th title="水曜日" scope="col">水</th>
											<th title="木曜日" scope="col">木</th>
											<th title="金曜日" scope="col">金</th>
											<th title="土曜日" scope="col">土</th>
											<th title="日曜日" scope="col">日</th>
										</tr>
										</thead>
									
										<tfoot>
										<tr>
											<td id="prev" colspan="3"><a title="2010年9月の投稿を表示" href="#">« 9月</a></td>
											<td class="pad">&nbsp;</td>
											<td class="pad" id="next" colspan="3">&nbsp;</td>
										</tr>
										</tfoot>
									
										<tbody>
										<tr>
											<td class="pad" colspan="4">&nbsp;</td><td>1</td><td>2</td><td>3</td>
										</tr>
										<tr>
											<td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td>
										</tr>
										<tr>
											<td id="today">11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td>
										</tr>
										<tr>
											<td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td>
										</tr>
										<tr>
											<td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td>
										</tr>
										</tbody>
									</table>
								</div>
							</li><!-- /.widget-container -->
				
						</ul>
					</div><!-- /.widget-area -->
					
				</div><!-- /#side -->
				<br class="clear">
			</div><!-- /#contents -->
			
			
<!-- Footer -->			
			<div id="footer">

				<div class="widget-area">
					<ul>
						<li class="widget-container">
							<h3>最近の投稿</h3>
							<ul>
								<li><a href="#">Styling Test</a></li>
								<li><a href="#">iPhone 4の特徴</a></li>
								<li><a href="#">アンケート</a></li>
								<li><a href="#">Styling Test</a></li>
								<li><a href="#">iPhone 4の特徴</a></li>
							</ul>
						</li><!-- /.widget-container -->
					</ul>
				</div><!-- /#first .widget-area -->

				<div class="widget-area">
					<ul>
						<li class="widget-container">
							<h3>最近の投稿</h3>
							<ul>
								<li><a href="#">Styling Test</a></li>
								<li><a href="#">iPhone 4の特徴</a></li>
								<li><a href="#">アンケート</a></li>
								<li><a href="#">Styling Test</a></li>
								<li><a href="#">iPhone 4の特徴</a></li>
							</ul>
						</li><!-- /.widget-container -->
					</ul>
				</div><!-- /#second .widget-area -->

				<div class="widget-area">
					<ul>
						<h3>検索</h3>
						<li class="widget-container">
							<form action="#" id="searchform" method="get">
							<div>
								<input type="text" id="s" name="s" value="" size="25">
								<input type="submit" value="検索" id="searchsubmit">
							</div>
							</form>
						</li><!-- /.widget-container -->
					</ul>
				</div><!-- /#third .widget-area -->
				
				<p class="copy">
					&copy; 2010 New World. All rights reserved. 
					Theme Design by <a href="http://www.webcreatormana.com/">Mana</a> 
					from <a href="http://www.webcreatorbox.com/">Webクリエイターボックス</a>
				</p>

			</div><!-- /#footer -->
		</div><!-- /#wrapper -->
	</div><!-- /#page -->

</body>
</html>